<app-navbar></app-navbar>
<div class="header-wrapper bg-accent text-white">
    <div class="page-heading pt-8 pb-12 text-center md:pt-16 md:pb-28">
        <div class="container">
            <h1 class="relative mb-3 text-3xl font-bold leading-tight tracking-tight md:text-5xl">Checkout</h1>
            <ol
                class="relative flex flex-wrap justify-center divide-x-2 divide-white text-xs font-bold uppercase leading-none">
                <li class="px-[10px]"><a href="_yt1-index.html">Home</a></li>
                <li class="px-[10px]">Events</li>
                <li class="px-[10px]">Event Detail</li>
                <li class="px-[10px]">Checkout</li>
            </ol>
        </div>
    </div>
</div>

<main id="main-content" class="grow lg:pt-0">
    <div class="pt-14 pb-24 lg:pb-52 lg:pt-40">
        <div class="container">
            <form class="grid grid-cols-12 gap-x-6 md:gap-x-[30px] content-start gap-y-12" action="#">
                <div class="col-span-full lg:col-span-8 lg:pr-[70px]">
                    <div>
                        <div
                            class="mb-10 flex flex-col items-center justify-between gap-y-4 md:flex-row lg:mb-[72px]">
                            <h2
                                class="text-2xl font-bold text-primary md:text-3xl md:tracking-tight lg:text-3.5xl dark:text-white">
                                Biliing Details</h2>
                        </div>
                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-7">
                            <div><input
                                    class="group-[.is-success]:bg-input-success group-[.is-error]:border-danger group-[.is-error]:bg-input-invalid group-[.is-error]:text-danger group-[.is-success]:pr-16 group-[.is-invalid]:pr-16 border-base bg-[length:14px_14px,_46px_46px] bg-[position:right_26px_center,_right_10px_center] bg-no-repeat font-bold leading-8 tracking-tight text-primary transition-all duration-150 placeholder:font-normal placeholder:text-gray-500/60 focus:border-indigo-500 focus:outline-0 focus:ring-0 dark:border-white/10 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500/80 dark:focus:border-indigo-500 w-full px-7 py-4"
                                    type="text" name="billing-first-name" id="billing-first-name" value=""
                                    placeholder="First Name">
                                <p class="group-[.is-error]:block mt-2 hidden text-sm font-bold text-danger">
                                </p>
                            </div>
                            <div><input
                                    class="group-[.is-success]:bg-input-success group-[.is-error]:border-danger group-[.is-error]:bg-input-invalid group-[.is-error]:text-danger group-[.is-success]:pr-16 group-[.is-invalid]:pr-16 border-base bg-[length:14px_14px,_46px_46px] bg-[position:right_26px_center,_right_10px_center] bg-no-repeat font-bold leading-8 tracking-tight text-primary transition-all duration-150 placeholder:font-normal placeholder:text-gray-500/60 focus:border-indigo-500 focus:outline-0 focus:ring-0 dark:border-white/10 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500/80 dark:focus:border-indigo-500 w-full px-7 py-4"
                                    type="text" name="billing-last-name" id="billing-last-name" value=""
                                    placeholder="Last Name">
                                <p class="group-[.is-error]:block mt-2 hidden text-sm font-bold text-danger">
                                </p>
                            </div>
                            <div><input
                                    class="group-[.is-success]:bg-input-success group-[.is-error]:border-danger group-[.is-error]:bg-input-invalid group-[.is-error]:text-danger group-[.is-success]:pr-16 group-[.is-invalid]:pr-16 border-base bg-[length:14px_14px,_46px_46px] bg-[position:right_26px_center,_right_10px_center] bg-no-repeat font-bold leading-8 tracking-tight text-primary transition-all duration-150 placeholder:font-normal placeholder:text-gray-500/60 focus:border-indigo-500 focus:outline-0 focus:ring-0 dark:border-white/10 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500/80 dark:focus:border-indigo-500 w-full px-7 py-4"
                                    type="email" name="billing-email" id="billing-email" value=""
                                    placeholder="Email">
                                <p class="group-[.is-error]:block mt-2 hidden text-sm font-bold text-danger">
                                </p>
                            </div>
                            <div><input
                                    class="group-[.is-success]:bg-input-success group-[.is-error]:border-danger group-[.is-error]:bg-input-invalid group-[.is-error]:text-danger group-[.is-success]:pr-16 group-[.is-invalid]:pr-16 border-base bg-[length:14px_14px,_46px_46px] bg-[position:right_26px_center,_right_10px_center] bg-no-repeat font-bold leading-8 tracking-tight text-primary transition-all duration-150 placeholder:font-normal placeholder:text-gray-500/60 focus:border-indigo-500 focus:outline-0 focus:ring-0 dark:border-white/10 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500/80 dark:focus:border-indigo-500 w-full px-7 py-4"
                                    type="tel" name="billing-phone" id="billing-phone" value=""
                                    placeholder="Phone">
                                <p class="group-[.is-error]:block mt-2 hidden text-sm font-bold text-danger">
                                </p>
                            </div>
                            <div class="col-span-full"><input
                                    class="group-[.is-success]:bg-input-success group-[.is-error]:border-danger group-[.is-error]:bg-input-invalid group-[.is-error]:text-danger group-[.is-success]:pr-16 group-[.is-invalid]:pr-16 border-base bg-[length:14px_14px,_46px_46px] bg-[position:right_26px_center,_right_10px_center] bg-no-repeat font-bold leading-8 tracking-tight text-primary transition-all duration-150 placeholder:font-normal placeholder:text-gray-500/60 focus:border-indigo-500 focus:outline-0 focus:ring-0 dark:border-white/10 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500/80 dark:focus:border-indigo-500 w-full px-7 py-4"
                                    type="text" name="billing-address" id="billing-address" value=""
                                    placeholder="Full Address">
                                <p class="group-[.is-error]:block mt-2 hidden text-sm font-bold text-danger">
                                </p>
                            </div>
                            <div><select
                                    class="w-full border-base px-7 font-bold tracking-tight text-primary transition-all duration-150 bg-caret bg-[length:10px_6px] bg-[position:right_24px_center] focus:border-indigo-500 focus:outline-0 focus:ring-0 hover:cursor-pointer dark:border-white/10 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500/80 dark:focus:border-indigo-500 dark:bg-caret-white h-[66px]"
                                    name="billing-country" id="billing-country">
                                    <option value="-">Select Country</option>
                                    <option value="0">United States</option>
                                    <option value="1">Italy</option>
                                    <option value="2">Spain</option>
                                    <option value="3">Germany</option>
                                </select></div>
                            <div><select
                                    class="w-full border-base px-7 font-bold tracking-tight text-primary transition-all duration-150 bg-caret bg-[length:10px_6px] bg-[position:right_24px_center] focus:border-indigo-500 focus:outline-0 focus:ring-0 hover:cursor-pointer dark:border-white/10 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500/80 dark:focus:border-indigo-500 dark:bg-caret-white h-[66px]"
                                    name="billing-state" id="billing-state">
                                    <option value="-">Select State</option>
                                    <option value="0">California</option>
                                    <option value="1">Texas</option>
                                    <option value="2">Florida</option>
                                    <option value="3">Alaska</option>
                                </select></div>
                            <div><select
                                    class="w-full border-base px-7 font-bold tracking-tight text-primary transition-all duration-150 bg-caret bg-[length:10px_6px] bg-[position:right_24px_center] focus:border-indigo-500 focus:outline-0 focus:ring-0 hover:cursor-pointer dark:border-white/10 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500/80 dark:focus:border-indigo-500 dark:bg-caret-white h-[66px]"
                                    name="billing-city" id="billing-city">
                                    <option value="-">Select City</option>
                                    <option value="0">New York</option>
                                    <option value="1">Chicago</option>
                                    <option value="2">San Francisco</option>
                                    <option value="3">San Diego</option>
                                </select></div>
                            <div><input
                                    class="group-[.is-success]:bg-input-success group-[.is-error]:border-danger group-[.is-error]:bg-input-invalid group-[.is-error]:text-danger group-[.is-success]:pr-16 group-[.is-invalid]:pr-16 border-base bg-[length:14px_14px,_46px_46px] bg-[position:right_26px_center,_right_10px_center] bg-no-repeat font-bold leading-8 tracking-tight text-primary transition-all duration-150 placeholder:font-normal placeholder:text-gray-500/60 focus:border-indigo-500 focus:outline-0 focus:ring-0 dark:border-white/10 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500/80 dark:focus:border-indigo-500 w-full px-7 py-4"
                                    type="number" name="billing-zip" id="billing-zip" value=""
                                    placeholder="ZIP Code">
                                <p class="group-[.is-error]:block mt-2 hidden text-sm font-bold text-danger">
                                </p>
                            </div>
                            <div class="col-span-full"><textarea
                                    class="block border-base w-full px-7 py-4 leading-8 tracking-tight text-primary transition-all duration-150 placeholder:text-gray-500/60 focus:border-indigo-500 focus:outline-0 focus:ring-0 dark:border-white/10 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500/80 dark:focus:border-indigo-500 h-44 md:h-60"
                                    name="billing-comments" id="billing-comments"
                                    placeholder="Additional Comments"></textarea></div>
                            <div class="col-span-full"><label
                                    class="flex items-center gap-x-3 hover:cursor-pointer"
                                    for="billing-ship-to-different-address"><input
                                        name="billing-ship-to-different-address"
                                        id="billing-ship-to-different-address" type="checkbox"
                                        class="border-base form-checkbox h-6 w-6 text-accent transition-all duration-150 hover:cursor-pointer focus:border-accent focus:bg-accent focus:ring-accent dark:border-white/10 dark:bg-gray-800 dark:checked:border-accent dark:checked:bg-accent dark:checked:ring-accent">
                                    <span
                                        class="text-sm font-bold text-primary dark:text-white md:text-base md:leading-tight">Ship
                                        to a Different Address</span></label></div>
                        </div>
                    </div>
                    <div class="h-16 md:h-20 lg:h-28"></div>
                    <div>
                        <h2
                            class="mb-10 text-2xl font-bold text-primary md:text-3xl md:tracking-tight lg:text-3.5xl lg:mb-[72px] dark:text-white">
                            Shipping Details</h2>
                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-7">
                            <div><input
                                    class="group-[.is-success]:bg-input-success group-[.is-error]:border-danger group-[.is-error]:bg-input-invalid group-[.is-error]:text-danger group-[.is-success]:pr-16 group-[.is-invalid]:pr-16 border-base bg-[length:14px_14px,_46px_46px] bg-[position:right_26px_center,_right_10px_center] bg-no-repeat font-bold leading-8 tracking-tight text-primary transition-all duration-150 placeholder:font-normal placeholder:text-gray-500/60 focus:border-indigo-500 focus:outline-0 focus:ring-0 dark:border-white/10 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500/80 dark:focus:border-indigo-500 w-full px-7 py-4"
                                    type="text" name="shipping-first-name" id="shipping-first-name" value=""
                                    placeholder="First Name">
                                <p class="group-[.is-error]:block mt-2 hidden text-sm font-bold text-danger">
                                </p>
                            </div>
                            <div><input
                                    class="group-[.is-success]:bg-input-success group-[.is-error]:border-danger group-[.is-error]:bg-input-invalid group-[.is-error]:text-danger group-[.is-success]:pr-16 group-[.is-invalid]:pr-16 border-base bg-[length:14px_14px,_46px_46px] bg-[position:right_26px_center,_right_10px_center] bg-no-repeat font-bold leading-8 tracking-tight text-primary transition-all duration-150 placeholder:font-normal placeholder:text-gray-500/60 focus:border-indigo-500 focus:outline-0 focus:ring-0 dark:border-white/10 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500/80 dark:focus:border-indigo-500 w-full px-7 py-4"
                                    type="text" name="shipping-last-name" id="shipping-last-name" value=""
                                    placeholder="Last Name">
                                <p class="group-[.is-error]:block mt-2 hidden text-sm font-bold text-danger">
                                </p>
                            </div>
                            <div><input
                                    class="group-[.is-success]:bg-input-success group-[.is-error]:border-danger group-[.is-error]:bg-input-invalid group-[.is-error]:text-danger group-[.is-success]:pr-16 group-[.is-invalid]:pr-16 border-base bg-[length:14px_14px,_46px_46px] bg-[position:right_26px_center,_right_10px_center] bg-no-repeat font-bold leading-8 tracking-tight text-primary transition-all duration-150 placeholder:font-normal placeholder:text-gray-500/60 focus:border-indigo-500 focus:outline-0 focus:ring-0 dark:border-white/10 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500/80 dark:focus:border-indigo-500 w-full px-7 py-4"
                                    type="email" name="shipping-email" id="shipping-email" value=""
                                    placeholder="Email">
                                <p class="group-[.is-error]:block mt-2 hidden text-sm font-bold text-danger">
                                </p>
                            </div>
                            <div><input
                                    class="group-[.is-success]:bg-input-success group-[.is-error]:border-danger group-[.is-error]:bg-input-invalid group-[.is-error]:text-danger group-[.is-success]:pr-16 group-[.is-invalid]:pr-16 border-base bg-[length:14px_14px,_46px_46px] bg-[position:right_26px_center,_right_10px_center] bg-no-repeat font-bold leading-8 tracking-tight text-primary transition-all duration-150 placeholder:font-normal placeholder:text-gray-500/60 focus:border-indigo-500 focus:outline-0 focus:ring-0 dark:border-white/10 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500/80 dark:focus:border-indigo-500 w-full px-7 py-4"
                                    type="tel" name="shipping-phone" id="shipping-phone" value=""
                                    placeholder="Phone">
                                <p class="group-[.is-error]:block mt-2 hidden text-sm font-bold text-danger">
                                </p>
                            </div>
                            <div class="col-span-full"><input
                                    class="group-[.is-success]:bg-input-success group-[.is-error]:border-danger group-[.is-error]:bg-input-invalid group-[.is-error]:text-danger group-[.is-success]:pr-16 group-[.is-invalid]:pr-16 border-base bg-[length:14px_14px,_46px_46px] bg-[position:right_26px_center,_right_10px_center] bg-no-repeat font-bold leading-8 tracking-tight text-primary transition-all duration-150 placeholder:font-normal placeholder:text-gray-500/60 focus:border-indigo-500 focus:outline-0 focus:ring-0 dark:border-white/10 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500/80 dark:focus:border-indigo-500 w-full px-7 py-4"
                                    type="text" name="shipping-address" id="shipping-address" value=""
                                    placeholder="Full Address">
                                <p class="group-[.is-error]:block mt-2 hidden text-sm font-bold text-danger">
                                </p>
                            </div>
                            <div><select
                                    class="w-full border-base px-7 font-bold tracking-tight text-primary transition-all duration-150 bg-caret bg-[length:10px_6px] bg-[position:right_24px_center] focus:border-indigo-500 focus:outline-0 focus:ring-0 hover:cursor-pointer dark:border-white/10 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500/80 dark:focus:border-indigo-500 dark:bg-caret-white h-[66px]"
                                    name="shipping-country" id="shipping-country">
                                    <option value="-">Select Country</option>
                                    <option value="0">United States</option>
                                    <option value="1">Italy</option>
                                    <option value="2">Spain</option>
                                    <option value="3">Germany</option>
                                </select></div>
                            <div><select
                                    class="w-full border-base px-7 font-bold tracking-tight text-primary transition-all duration-150 bg-caret bg-[length:10px_6px] bg-[position:right_24px_center] focus:border-indigo-500 focus:outline-0 focus:ring-0 hover:cursor-pointer dark:border-white/10 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500/80 dark:focus:border-indigo-500 dark:bg-caret-white h-[66px]"
                                    name="shipping-state" id="shipping-state">
                                    <option value="-">Select State</option>
                                    <option value="0">California</option>
                                    <option value="1">Texas</option>
                                    <option value="2">Florida</option>
                                    <option value="3">Alaska</option>
                                </select></div>
                            <div><select
                                    class="w-full border-base px-7 font-bold tracking-tight text-primary transition-all duration-150 bg-caret bg-[length:10px_6px] bg-[position:right_24px_center] focus:border-indigo-500 focus:outline-0 focus:ring-0 hover:cursor-pointer dark:border-white/10 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500/80 dark:focus:border-indigo-500 dark:bg-caret-white h-[66px]"
                                    name="shipping-city" id="shipping-city">
                                    <option value="-">Select City</option>
                                    <option value="0">New York</option>
                                    <option value="1">Chicago</option>
                                    <option value="2">San Francisco</option>
                                    <option value="3">San Diego</option>
                                </select></div>
                            <div><input
                                    class="group-[.is-success]:bg-input-success group-[.is-error]:border-danger group-[.is-error]:bg-input-invalid group-[.is-error]:text-danger group-[.is-success]:pr-16 group-[.is-invalid]:pr-16 border-base bg-[length:14px_14px,_46px_46px] bg-[position:right_26px_center,_right_10px_center] bg-no-repeat font-bold leading-8 tracking-tight text-primary transition-all duration-150 placeholder:font-normal placeholder:text-gray-500/60 focus:border-indigo-500 focus:outline-0 focus:ring-0 dark:border-white/10 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500/80 dark:focus:border-indigo-500 w-full px-7 py-4"
                                    type="number" name="shipping-zip" id="shipping-zip" value=""
                                    placeholder="ZIP Code">
                                <p class="group-[.is-error]:block mt-2 hidden text-sm font-bold text-danger">
                                </p>
                            </div>
                            <div class="col-span-full"><textarea
                                    class="block border-base w-full px-7 py-4 leading-8 tracking-tight text-primary transition-all duration-150 placeholder:text-gray-500/60 focus:border-indigo-500 focus:outline-0 focus:ring-0 dark:border-white/10 dark:bg-gray-800 dark:text-white dark:placeholder:text-gray-500/80 dark:focus:border-indigo-500 h-44 md:h-60"
                                    name="shipping-comments" id="shipping-comments"
                                    placeholder="Additional Comments"></textarea></div>
                        </div>
                    </div>
                </div>
                <div
                    class="col-span-full bg-white shadow-3xl lg:col-span-4 lg:-mt-[200px] self-start py-5 px-5 sm:px-6 md:px-6 md:py-6 lg:py-7 lg:px-8 xl:py-9 xl:px-10 tracking-tight dark:bg-gray-800">
                    <div class="mb-8 lg:mb-12">
                        <h3
                            class="font-bold text-primary text-xl lg:text-1.5xl leading-tight mb-8 lg:mb-12 dark:text-white">
                            Your Order</h3>
                        <div class="">
                            <div
                                class="text-sm lg:text-base tracking-tighter leading-normal flex flex-col gap-y-5 mb-7">
                                
                                
                                <div class="flex flex-wrap justify-between">
                                    <div>UNBX Snapback Cap <span class="text-accent">x 1</span></div>
                                    <div class="font-bold text-primary dark:text-white">$12</div>
                                </div>
                            </div>
                            <div
                                class="flex flex-wrap justify-between text-lg leading-tighter font-bold text-primary dark:text-white mb-7 lg:mb-8">
                                <h4>Total</h4>
                                <div>$99.00</div>
                            </div>
                            <div
                                class="text-sm lg:text-base tracking-tighter leading-normal flex flex-col gap-y-5 mb-8">
                                <div class="flex flex-wrap justify-between">
                                    <div>Shipping</div>
                                    <div class="font-bold text-primary dark:text-white">$5.00</div>
                                </div>
                                
                            </div>
                            <div
                                class="flex flex-wrap justify-between text-lg leading-tighter font-bold mb-4 lg:mb-8">
                                <div class="text-primary dark:text-white">Order Total</div>
                                <div class="text-accent">$94.00</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3
                            class="font-bold text-primary text-xl lg:text-1.5xl leading-tight mb-8 lg:mb-12 dark:text-white">
                            Payment Methods</h3>
                        <ul class="pt-2">
                            <li class="pb-6"><label class="flex flex-wrap gap-x-4 hover:cursor-pointer"
                                    for="paypal"><input name="payment-method" id="paypal" type="radio"
                                        class="form-radio h-6 w-6 lg:h-7 lg:w-7 border-base text-accent transition-all duration-150 hover:cursor-pointer focus:border-accent focus:bg-accent focus:ring-accent dark:border-white/30 dark:bg-gray-800 dark:checked:border-accent dark:checked:bg-accent dark:checked:ring-accent peer"
                                        checked="checked"> <span
                                        class="font-bold text-primary dark:text-white lg:text-lg leading-normal">PayPal</span>
                                    <span
                                        class="basis-full max-h-0 overflow-hidden peer-checked:max-h-28 duration-200 transition-[max-height] leading-7 tracking-tighter"><span
                                            class="block pt-6">Pay easily using your Paypal account, with no
                                            additional fees!</span></span></label></li>
                            
                            
                        </ul><input
                            class="bg-accent font-bold text-white tracking-tight py-5 px-5 leading-tight mt-6 md:mt-9 hover:cursor-pointer hover:bg-accent/90 transition-colors block w-full"
                            type="submit" value="Place Order">
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<app-footer></app-footer>